<% layout("/layouts/boilerplate") %>
<body>
  <!-- <form method="get" action="/listings/new">
    <button>Create New</button>
  </form> -->
  <style>
    .filter{
      margin-top: 1rem;
      margin-right: 1rem;
      text-align: center;
      opacity: 0.7;
    }
    .filter:hover{
      opacity: 1;
      cursor: e-resize;
    }
    .filter p{
      font-size: 0.8rem;
    }
    #filters{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .tax-info{
      display: none;
    }
    .tax-switch{
      border: 1px solid black;
      border-radius: 1rem;
      height: 3.5rem;
      padding: 1rem;
      margin-left: 2rem;
    }

  </style>

  <DIV id="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Hills</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-city"></i></div>
      <p>Iconic Cities</p>
    </div>
    <div class="filter">
      <div><i class="fa-brands fa-instagram"></i></div>
      <p>Insta Worthy</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-tree"></i></div>
      <p>Lush Green</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-running"></i></div>
      <p>Sporty</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>Pools</p>
    </div>
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mug-hot"></i></div>
      <p>Bed and Breakfast</p>
    </div>

    <div class="tax-switch ">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" value="" id="checkDefault">
      <label class="form-check-label" for="checkDefault">
        Display total after Taxes
      </label>
    </div>
  </div>
  </DIV>

  
    
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-small-1 mt-2">
      <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
          <div class="card col listing-card">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-image" style="height: 20rem;">
          <div class="card-img-overlay"><%= listing.country %></div>
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b>
              <br>
              &#8377; <i class="actual-price"><%= listing.price.toLocaleString("en-IN")%> /night (exclusive of taxes)</i>
              <i class="tax-info">&nbsp;&nbsp;<%= (listing.price * 1.18).toLocaleString("en-IN")%>/night (incl. 18% GST)</i>
            </p>
            </div>
          </div>
        </a>
      
    <% } %>
  </div>
    
  <script>
    let taxswitch = document.getElementById("checkDefault");
    taxswitch.addEventListener("click",()=>{
      let taxinfo = document.getElementsByClassName("tax-info");
      let baseprices = document.querySelectorAll(".actual-price");

      for(i=0; i < taxinfo.length; i++){
        if(taxinfo[i].style.display != "inline"){
          taxinfo[i].style.display = "inline";
          baseprices[i].style.display = "none";
        }
        else{
          taxinfo[i].style.display = "none";
          baseprices[i].style.display = "inline";
        }
      }
    });
  </script>
</body>


